/*Designs the header and adds the background gif.*/
#lqdHeader{
    background-color: rgb(0, 0, 0);
    background-image: url("../images/Smoke/background.gif");
    background-attachment: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover, auto;
    position: relative;
    width: 100%;
}

.header-images{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
}

.lqd-Header-Logo{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%, auto;
    background-image: url("../images/PNG (transp) files/lqd-blue2-transp.png");
    background-position-x: center; 
    background-position-y: top;
    padding-bottom: 45%;
    position: relative;
    width: 100%;
}

.static-smoke{
    background-image: url("../images/Smoke/transparent.png");
    background-attachment: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover, auto;
    width: 100%;
}

body{
    background-attachment: fixed; 
    background-color: rgb(0, 0, 0);
    color:white;
    font-family:impact;
    font-style: italic;
    width: 100%;
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* Designs the navbar*/
.navbar {
    background-color: transparent;
    overflow: hidden;
    position: relative;
 }

/* 
The sticky class is added to the navbar with JS when it reaches its scroll position 
and makes the navbar slightly transparent.
*/
.sticky {
    background-color: rgba(51,51,51, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
}

/*
 Page content
 */

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(145, 145, 145); /* light Grey*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.content{
    /* background-color: rgba(0, 0, 0); */
    padding: 5% 3%;
    text-align: center;
    font-family: impact;
    font-style: italic;
    color: #01b2f6;
}

/*Sets the colors of the text in .content.*/
.content h2{
    color: white;
}

/* */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 5px 13px;
    font-size: 16px;
    border: none;
    font-family: Impact;
    font-style: italic; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 141px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/**/
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 33px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Impact;
    font-style: italic;
}

.about{
    width: auto;
    /* padding-bottom: 45%; */
}

.about-img{
    width: 100%;
}

.product-description{
    font-size: 2vmin;
}

/*slideshow */
* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


  .productphoto
  {
      width:40%;
  }

  .menuButton
  {
    position: absolute; 
    top: 250px; 
    color:#01b2f6; 
    cursor:pointer;
    font-size:3.0vh;
  }

  #marquee
  {
    font-size: 3.0vh; 
    color:#01b2f6;
  }

  .prevButtons
  {
    position: absolute;
    left: 10%;
  }

  .nextButtons
  {
      position: absolute;
      right: 10%;
  }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 414px) {
    /* Styles */
    .menuButton
    {
      position: absolute; 
      top: 23%; 
      color:#01b2f6; 
      cursor:pointer;
    }
    .product-description{
        font-size:4vmin;
    }
    .productphoto
    {
        width:60%;
    }
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
    /* Styles */
    .menuButton
    {
      position: absolute; 
      top: 30%; 
      color:#01b2f6; 
      cursor:pointer;
    }

    .productphoto
    {
        width:60%;
    }
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    .menuButton
    {
      position: absolute; 
      top: 50%; 
      color:#01b2f6; 
      cursor:pointer;
    }
    }
    
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
    .menuButton
    {
      position: absolute; 
      top: 60%; 
      color:#01b2f6; 
      cursor:pointer;
    }
    }
    
    /* iPhone X ----*/
    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        .menuButton{
            top: 21%;
        }
        .lqd-Header-Logo{
            background-size: 10%, auto;
            background-position-x: left; 
            background-position-y: top;
            padding-bottom: 45%;
            position: relative;
            width: 100%;
        }
        .productphoto
        {
            width:60%;
        }
    }

      /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .menuButton
    {
      position: absolute; 
      top: 20%; 
      color:#01b2f6; 
      cursor:pointer;
    }
    }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
