header{
    background-color: rgb(0, 0, 0);
    background-image: url("../images/Smoke/thick.jpg");
    background-attachment: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-images{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
}

.lqd-Header-Logo{
    /*Work on the parallax effect a bit more.*/
    min-height: 700px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 50%;
    background-image: url("../images/PNG (transp) files/lqd-blue2-transp.png");
    background-position-x: center; 
    background-position-y: top;
}


.parallax-background-smoke {
    /*Fix the smoke leaking over and into the navbar section.*/
    background-image: url("../images/Smoke/transparent.png");
    -webkit-transform: translateZ(-300px) scale(1.1);
    transform: translateZ(-300px) scale(1.1);
    z-index: 3;
}

body{
    background-attachment: fixed;
    background-color: rgb(255, 255, 255);
}

.content{
    background-color: rgba(110, 107, 107, 0.3);
    padding: 30px 40px;
    /* color: rgb(0, 0, 0); */
    text-align: center;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
  /* position: absolute; */
  /* opacity: 50%; */
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}


/* Page content */

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    /* background-color: white; */
    opacity: 50%;
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
/* .sticky + .content {
  padding-top: 60px;
} */


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(199, 199, 199); /* light Grey*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.content {
    
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

